.rectangle {
  width: 200px;
  height: 100px;
  padding: 10px;
  background-color: aqua;
  border: 1px solid black;
  display: flex;
  align-items: center;
}
#image {
  width: 100px;
  height: 100px;
}
